<html>
<head>
	<meta charset="UTF-8">
	<title>新建收货地址</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" href="../base.css">

</head>
<body>
	
	<div class="address-append-content">
		<form class="address-form">
			<div class="form-item clearfix">
				<label for="userName">联系人: </label>
				<input type="text" name="userName" placeholder="输入联系人" />
			</div>
			<div class="form-item">
				<label for="phone">电话: </label>
				<input type="text" name="phone" placeholder="请输入电话">
			</div>
			<div class="form-item">
				<label for="city">地区: </label>
				<input type="text" name="city" placeholder="请选择地区">
			</div>
			<div class="form-item">
				<label for="detail">详细地址: </label>
				<input type="text" name="detail" placeholder="请输入详细地址" />
			</div>
		</form>
	</div>
	<div class="buttons-save">
		<a href="order-input-select-address.html" class="button">保存</a>
		<a href="order-input-select-address.html" class="button">保存</a>
	</div>
	
</body>
</html>