<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" href="./../base.css">
	<link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<title>Document</title>
</head>
<body>
	<header>
		个人中心
	</header>
	
	<div id="buyer-my-center">
		<div class="avatar">
			<img src="./../i/default-img.png" alt="">
			<p>用户昵称</p>
			<span>设置</span>
			<i class="fa fa-angle-right"></i>
		</div>
		
		<div class="order">
			<nav>
				<a href="" class="active">我买</a>
				<a href="">我卖</a>
			</nav>
			<div>
				<p class="my-order">我的订单 <span>查看全部&nbsp;&nbsp;<i class="fa fa-angle-right"></i></span></p>
				<div class="my-order-num">
					<p>6 <br><span>代付款</span></p>
					<p>6 <br><span>代付款</span></p>
					<p>6 <br><span>代付款</span></p>
					<p>6 <br><span>代付款</span></p>
				</div>
			</div>
		</div>
		
		<div class="links-group">
			<a href="" class="wallet">我的钱包 <span>余额：￥3,789.00&nbsp;&nbsp;<i class="fa fa-angle-right"></i></span></a>
			
			<div>
				<a href="">消息与通知<span>&nbsp;&nbsp;<i class="fa fa-angle-right"></i></span></a>
				<a href="">帮助中心<span>&nbsp;&nbsp;<i class="fa fa-angle-right"></i></span></a>
				<a href="">问题反馈<span>&nbsp;&nbsp;<i class="fa fa-angle-right"></i></span></a>
			</div>

			<a href="" class="apply">申请成为经纪人<span>&nbsp;&nbsp;<i class="fa fa-angle-right"></i></span></a>
		</div>
	</div>

	<footer>
		<a href="">首页</a>
		<a href="">主题</a>
		<a href="">喜欢</a>
		<a href="" class="active">我的</a>
	</footer>
</body>
</html>