<html>
<head>
	<meta charset="UTF-8">
	<title>订单评价</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" href="../base.css">

</head>
<body>
	<header>
		<span class="left notice">
			<a href="javascript:window.history.go(-1)"><img src="../i/left-gray.png" alt=""></a>
		</span>
		<span class="center">评价</span>
	</header>

	<div class="order-comment-content">
		<div class="order-no">
			<p >恭喜您，已经成功收到货物！</p>
			<p >给卖家写个评价吧，以便以后为您提供更好的服务。</p>
		</div>
		
	<!--Goethe-->
		<div class='goethe'>
			<div class="title">
				<span class="title-left"><a href="#">经纪人</a></span>
				<span class="title-right">已收货</span>
			</div>
			
			<div class="goethe-content clearfix">
				<div class="pic">
					<img src="../i/default-img.png" alt="">
				</div>
				<div class="desc">
					<p>Lot.022 富山春居图</p>
					<p>落槌价: ￥10000</p>
					<p>买家佣金: 10000x10%=￥1000</p>
					<p class="sum">实付金额: 10000+1000=<span>￥11000</span></p>
				</div>
			</div>
		</div>
		<div class="comment">
			<textarea name="comment" placeholder="在这里输入您的评价内容…"></textarea>
			<div class="buttons">
				<button class='best'>好评</button>
				<button class='good'>中评</button>
				<button class='bad'>差评</button>
			</div>
		</div>

		<button class="submit-button">确认提交</button>
	</div>
</body>
</html>