<html>
<head>
	<meta charset="UTF-8">
	<title>确认收货</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" href="../base.css">

</head>
<body>
	<div class="order-done-content">
		<!--订单号-->
		<div class="order-no">
			<p class="order-nu">订单号: 778882220099</p>
			<p class="order-status">待收货</p>
		</div>
		<!--订单流程-->
		<div class="order-process">
			<div class="item">
				<div class="item-pic"></div>
				<div class="item-content">
					<p class="bold-text">您已付款，等待收货</p>
					<p>发货时间: 2015-10-08 22:00</p>
				</div>
			</div>
			<div class="item">
				<div class="item-pic item-pic-2"></div>
				<div class="item-content ">
					<p class="default-text-color">落槌成交  等待买家付款
</p>
					<p>发货时间: 2015-10-08 22:00</p>
				</div>
			</div>
			
		</div>
	<!--Goethe-->
		<div class='goethe'>
			<div class="title">
				<span class="title-left"><a href="#">Goethe</a></span>
				<span class="title-right text-color">收货</span>
			</div>
			
			<div class="goethe-content clearfix">
				<div class="pic">
					<img src="../i/default-img.png" alt="">
				</div>
				<div class="desc">
					<p>牌品名称: XXX</p>
					<p>落槌价: ￥10000</p>
					<p>买家佣金: 10000x10%=￥1000</p>
					<p class="sum">实付金额: 10000+1000=<span>￥11000</span></p>
				</div>
			</div>
			<div class="buy">
				<p>
					付款时间 7月28日 18:09
				</p>
				<a href="#"><span>确认收货</span></a>
			</div>
		</div>
		<!---收货地址-->
		<div class="reciver-info">
			<div class="title">
				收货地址
			</div>
			<div class="content">
				<p class='person'>收货人: 王五</p>
				<p class='phone'>联系电话: 18888888888</p>
				<p class='address'>联系地址: 北京市海淀区上地十街 百度大厦</p>
			</div>
		
		</div>
		
	</div>
</body>
</html>