<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="./../base.css">
	<link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<title>Document</title>
</head>
<body>
	<header>
		订单管理
	</header>
	
	<div id="order-manage">
		<nav>
			<a href="" class="active">全部</a>
			<a href="">待付款</a>
			<a href="">待发货</a>
			<a href="">待收货</a>
			<a href="">待评价</a>
		</nav>

		<div class="order-items">
			<div class="item">
				<div class="header"><span>等待卖家付款</span></div>
				<div class="content">
					<div>
						<img src="" alt="">	
					</div>
					<div>
						<p class="name">拍品名称</p>
						<p class="final-price">落槌价：￥10000</p>
						<p class="buyer-pirce">买家佣金：10000×10%=￥1000</p>
						<p class="pay-pirce">付款金额：10000+1000=￥11000 </p>
					</div>
				</div>
				<div class="footer">
					<span>付款截止：1天 23:59:58</span>
					<a href="" class="btn btn-disabled">待发货</a>
				</div>
			</div>
		</div>
	</div>

	<footer>
		<a href="">首页</a>
		<a href="">主题</a>
		<a href="">喜欢</a>
		<a href="" class="active">我的</a>
	</footer>
</body>
</html>