<html>
<head>
	<meta charset="UTF-8">
	<title>订单填写</title>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="../base.css">

</head>
<body>
	<div class="order-comment-content">
		<div class="order-no">
			<p >落槌成交，等待买家付款！</p>
			<p >2016-08-09 18:23:13</p>
		</div>
		<div class="order-process">
			<div class="item">
				<div class="item-pic item-pic-2"></div>
				<div class="item-content ">
					<p class="default-text-color">落槌成交，等待卖家发货</p>
					<p>发货时间: 2015-10-08 22:00</p>
				</div>
			</div>
		</div>
	<!--Goethe-->
		<div class='goethe'>
			<div class="title">
				<span class="title-left"><a href="#">经纪人</a></span>
				<span class="title-right">已收货</span>
			</div>
			
			<div class="goethe-content clearfix">
				<div class="pic">
					<img src="../i/default-img.png" alt="">
				</div>
				<div class="desc">
					<p>Lot.022 富山春居图</p>
					<p>落槌价: ￥10000</p>
					<p>买家佣金: 10000x10%=￥1000</p>
					<p class="sum">实付金额: 10000+1000=<span>￥11000</span></p>
				</div>
			</div>
			<div class="buy">
				<p>
					付款截止: 1天 23:59:00
				</p>
				<a href="order-comment.html"><span>确认付款</span></a>
			</div>
		</div>
		<div class="comment">
			<textarea name="comment"  cols="30" rows="10" placeholder="在这里输入您的评价内容…"></textarea>
			<div class="buttons">
				<button class='best'>好评</button>
				<button class='good'>中评</button>
				<button class='bad'>差评</button>
			</div>
		</div>

		<button class="submit-button">确认提交</button>
	</div>
</body>
</html>