<html>
<head>
	<meta charset="UTF-8">
	<title>待付款</title>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="../base.css">

</head>
<body>
	<header>
		<span class="left notice">
			<a href="javscript:window.history.go(-1)"><img src="../i/left-gray.png" alt=""></a>
		</span>
		<span class="center">待付款</span>
	</header>

	<div class="list-status-order">
		<div class="inner">
			<a href="order-all.html">全部</a>
			<a href="wait-pay.html" class="active">待付款</a>
			<a href="wait-send.html" >待发货</a>
			<a href="wait-recive.html">待收货</a>
			<a href="wait-comment.html">待评价</a>
		</div>
	</div>
	<div class="wait-pay-content">
	<!--Goethe-->
		<div class='goethe mt15'>
			<div class="title">
				<span class="title-left"><a href="#">张三</a></span>
				<span class="title-right text-color">待付款</span>
			</div>
			
			<div class="goethe-content clearfix">
				<div class="pic">
					<img src="../i/default-img.png" alt="">
				</div>
				<div class="desc">
					<p>Lot.022 富山春居图</p>
					<p>落槌价: ￥10000</p>
					<p>买家佣金: 10000x10%=￥1000</p>
					<p class="sum">实付金额: 10000+1000=<span>￥11000</span></p>
				</div>
			</div>
			<div class="buy">
				<p>
					付款截止: 1天 23:59:00
				</p>
				<a href="order-input.html"><span>立即付款</span></a>
			</div>
		</div>
		
		<div class='goethe mt15'>
			<div class="title">
				<span class="title-left"><a href="#">张三</a></span>
				<span class="title-right text-color">线下付款确认中</span>
			</div>
			
			<div class="goethe-content clearfix">
				<div class="pic">
					<img src="../i/default-img.png" alt="">
				</div>
				<div class="desc">
					<p>Lot.022 富山春居图</p>
					<p>落槌价: ￥10000</p>
					<p>买家佣金: 10000x10%=￥1000</p>
					<p class="sum">实付金额: 10000+1000=<span>￥11000</span></p>
				</div>
			</div>
			<div class="buy">
				<p class="color-red">
					请务必于  6天 23:30:15 内完成线下付款
				</p>
			</div>
		</div>

	</div>
</body>
</html>