.address-append-content
	width 100%
	background white
	margin-top 10px
	font-size $defaultFx
	color $textColor
	form
		border-top 1px solid $borderColor
		.form-item
			padding-top 10px
			padding-bottom 10px
			line-height 36px
			font-size 16px
			height 36px
			padding-left 15px
			border-bottom 1px solid $borderColor
			label
				width 20%
				display block
				float left
			//	text-align right
			input
				margin-right 5%
				width 75%
				float left
				height 30px
				margin-top 3px
				border 1px solid $borderColor
.buttons-save
	margin-top 12px
	padding 0 10px
	margin 0 auto
	color $textColor
	.button
		width 100%
		display block
		text-align center
		border 1px solid $borderColor
		margin-top 15px
		font-size 16px
		height 40px
		font-weight bold
		line-height 40px
		color white
		border-radius 5px
	.button:nth-child(1)
		background #e4e4e4	
	.button:nth-child(2)
		background black
		

		