#buyer-my-center
	padding-bottom 60px
	.avatar
		margin-top: 10px;
		padding: 10px;
		position: relative;
		border-top: 1px solid $borderColor;
		border-bottom: 1px solid $borderColor;
		background-color: white;
		position relative
		.avatar-wrapper
			img
				width: 60px;
				height: 60px;
				border-radius: 30px;
			span.avatar-auth
				position absolute
				width: 22px
				height 22px
				text-align: center
				color white
				font-size: $smFz
				font-weight: bold
				line-height 22px
				left 55px
				top 48px
				background-image: url('./../i/icon-avatar-auth.png')
				background-position: 100% 100%
		p
			position: absolute;
			left: 80px;
			top: 10px;
			line-height: 60px;
		>span
			position: absolute;
			display: block;
			right: 30px;
			top: 10px;
			line-height: 60px;
			font-size $smFz;
			color $hintTextColor
		>i
			position: absolute;
			right 10px
			top 24px
			color $hintTextColor
			font-size: $lgsFz
	.order
		margin-top: 10px;
		
		border-top: 1px solid $borderColor;
		border-bottom: 1px solid $borderColor;
		background-color: white;
		nav
			display flex
			border-bottom: 1px solid $borderColor;
			a
				flex 1
				text-align: center;
				line-height: 40px;
				color $hintTextColor
				&.active
					border-bottom: 2px solid $blackColor;
					color $blackColor
		>div
			padding: 0 10px;
			p.my-order
				padding 15px 0
				border-bottom: 1px dotted $borderColor;
				span
					float: right;
					margin-right: 0px;
					color $hintTextColor
					i
						color $hintTextColor
						
			div.my-order-num
				display flex
				p
					flex 1
					text-align: center;
					padding: 20px 0;
					line-height: 20px
	.links-group
		margin-top: 10px;
		a
			display: block;
			padding: 0 10px;
			background-color: white;
			line-height: 40px;
			color $blackColor
			border-top: 1px solid $borderColor;
			position relative
			span
					float: right;
					color $hintTextColor
					font-size $smFz
			&.notice
				&.new:after
					content ''
					display block
					width 8px
					height 8px
					border-radius 10px
					background red
					position absolute
					top 15px
					left 95px
					
			&.wallet
				border-bottom: 1px solid $borderColor;
				margin-bottom: 10px;
				
			&.apply
				border-bottom: 1px solid $borderColor;
				margin-top: 10px;


