body
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	background: $backgroundColor;
.default-text-color
	color $textColor!important
	font-weight normal!important
.order-done-content
	margin-top 12px
	// max-width 750px
	// min-width 300px
	padding 0 10px
	font-size 13px
	margin 0 auto
	color $textColor
	.order-no
		width 100%
		height 30px
		border 1px solid $borderColor
		margin 0 auto
		background white
		color $textColor
		margin-top 10px
		font-size 13px
		.order-nu
			line-height 30px
			float left
			margin-left 15px
		.order-status
			line-height 30px
			float right	
			margin-right 15px
	.order-process
		background white
		margin-top 10px
		width 100%
		margin 0 auto
		margin-top 10px
		border 1px solid $borderColor
		border-radius 3px
		.item
			//border-bottom 1px solid $borderColor
			height 60px
			.item-pic
				margin-left 15px
				margin-top 15px
				width 22px
				height 22px
				background red
				float left
				background url('../i/u148.png')
				background-size 22px 22px
			.item-pic-2
				background url('../i/u42.png')
				background-size 22px 22px
			.item-content
				float left
				margin-left 15px
				margin-top 5px
				p
					line-height 20px
					color $textColor
				.bold-text
					color $blackColor
					font-weight bold
				:nth-child(1)
					margin-top 8px
	.reciver-info
		width 100%
		background white
		border 1px solid $borderColor
		margin-top 5px
		margin-bottom 10px
		.title
			height 40px
			font-size 17px
			line-height 40px
			padding-left 15px
			border-bottom 1px solid $borderColor
		.content
			color $textColor
			padding-left 25px
			margin-top 10px
			line-height 20px
			padding-bottom 10px
			border-bottom 1px solid $borderColor
		.logistical-title
			height 40px
			font-size 17px
			line-height 40px
			padding-left 15px
			border-bottom 1px solid $borderColor
		.logistical-content
			color $textColor
			padding-left 25px
			margin-top 10px
			line-height 20px
			padding-bottom 15px
			
			
			
		