.order-comment-content
	// max-width 750px
	// min-width 300px
	height 100%
	padding 0 10px
	font-size 13px
	margin 0 auto
	color $textColor
	.order-no
		width 100%
		height 60px
		border 1px solid $borderColor
		margin 0 auto
		background white
		color $textColor
		margin-top 10px
		font-size 13px
		margin-bottom 10px
		p
			line-height 16px
			margin-left 15px
		:nth-child(1)
			margin-top 15px
	
	.comment
		background white
		border 1px solid $borderColor
		border-top none
		textarea
			width 100%
			height 160px
		.buttons
			margin 10px 15px
			height 60px
			border-top 1px dashed $borderColor
			text-align center
			button
				margin-top 15px
				width 87px
				height 30px
				border 2px solid $borderColor
				background white
				border-radius 4px
				font-weight bold
				color #666666
			:nth-child(1)
				float left
			:nth-child(3)
				float right
	.submit-button
		width 100%
		height 46px
		background #333333
		border 0
		border-radius 5px
		color white
		font-size 18px
		margin-top 10px
		
				
			
				
			