.order-comment-content
	margin-top 12px
	// max-width 750px
	// min-width 300px
	padding 0 10px
	font-size 13px
	margin 0 auto
	color $textColor
	.order-no
		width 100%
		height 60px
		border 1px solid $borderColor
		margin 0 auto
		background white
		color $textColor
		margin-top 10px
		font-size 13px
		margin-bottom 10px
		p
			line-height 16px
			margin-left 15px
		:nth-child(1)
			margin-top 15px
		