.order-input-content
	// max-width 750px
	// min-width 300px
	padding 0 10px
	font-size 13px
	margin 0 auto
	color $textColor
	
	.recive-info
		background white
		margin-top 10px
		border 1px solid $borderColor
		.title
			padding-left 15px
			height 40px
			font-size 17px
			color $textColor
			line-height 40px
			border-bottom 1px solid $borderColor
		.send-type
			width 100%
			margin-top 15px
			position relative
			margin-bottom 15px
			.active
				color black
				font-weight bold
			input
				vertical-align middle
			label
				vertical-align middle
			.send-company
				float left
				padding-left 40px
			.send-custom
				float right
				padding-right 40px
			.line
				border-left 1px solid $borderColor
				width 1px
				height 20px
				margin 0 auto
				position absolute
				top 0
				left 50%
		.address-append
			display block
			margin-left 15px
			margin-right 15px
			margin-bottom 20px
			padding-top 20px
			padding-bottom 20px
			border-top 1px solid $borderColor
			border-bottom 1px solid $borderColor
			font-size 14px
			color #999999
			position relative
			s
				width 22px
				height 22px
				display block
				vertical-align middle
				//border 1px solid red
				background url('../i/right.png')
				background-size 22px 22px
				position absolute
				right 0
				top 16px
		.address-selected
			display block
			margin-left 15px
			margin-right 15px
			margin-bottom 10px
			padding-top 15px
			padding-bottom 10px
			color #999999
			position relative
			p
				margin-left 15px
				line-height 20px
				span
					color black
					margin-left 5px
				.default
					color white
					background #0097ff
					padding 1px
			s
				width 22px
				height 22px
				display block
				vertical-align middle
				//border 1px solid red
				background url('../i/right.png')
				background-size 22px 22px
				position absolute
				right 0
				top 35px
			
			