.order-pay
	.order-total
		width 100%
		margin-top 10px
		background white
		border-top 1px solid $borderColor
		border-bottom 1px solid $borderColor
		.title
			font-size 14px
			color $textColor
			text-align center
			margin-top 15px
		.digit
			text-align center
			margin-top 15px
			margin-bottom 15px

			font-size 36px
			span
				color $textColor
				font-size 28px	
	.pay-type
		width 100%
		background white
		margin-top 10px
		border-bottom 1px solid $borderColor

		li
			border-top 1px solid $borderColor
			height 40px
			color $textColor
			padding-top 8px
			padding-bottom 8px
			padding-left 15px
			position relative
			img
				display block
				width 30px
				height 30px
				float left
				padding-top 5px
			.pay-content
				float left
				.pay-title
					padding-left 20px
					padding-top 4px
					font-size 16px
					
				.pay-summary
					padding-left 15px
					font-size 13px
					padding-top 8px
					color #999999
			.pay-extend
				color #cc3366
				font-size 12px
				position absolute
				top 12px
				right 47px
				text-align right
				line-height 17px
					
					
					
					
			s
				float left
				display block
				vertical-align middle
				width 22px
				height 22px
				maring-right 19px
				background url(../i/u148.png)
				background-size 22px 22px
				position absolute
				right 15px
				top 18px
			.not-fill
				background url(../i/u146.png)
				background-size 22px 22px
	.pay-offline
		background white
		margin-top 10px
		border-bottom 1px solid $borderColor
		border-top 1px solid $borderColor
		height 40px
		color $textColor
		padding-top 8px
		padding-bottom 8px
		padding-left 15px
		img
			display block
			width 30px
			height 30px
			float left
			padding-top 5px
		div
			float left
			.pay-title
				padding-left 20px
				padding-top 4px
				font-size 16px
				
			.pay-summary
				padding-left 15px
				font-size 13px
				padding-top 8px
				color #999999
	.submit-pay
		display block
		height 46px
		background #333333
		color white
		text-align center
		margin 20px 15px
		border-radius 4px
		line-height 46px
		font-size 18px


