<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="./../base.css">
	<link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<title>Document</title>
</head>
<body>
	<header>
		<span class="left notice">
			<a href="javascript:window.history.go(-1)"><img src="../i/left-gray.png" alt=""></a>
		</span>
		<span class="center">订单信息</span>
	</header>
	
	<div class="add-seller-order">
		<nav>
			<a href="add-seller-order-time.html">按时间</a>
			<a class="active" href="add-seller-order-theme.html">按主题</a>
		</nav>
		
		<p>未来一个月 &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; 选择专场</p>

		<div class="content">
			<div class="menu">
				<a href="">7月8~15日</a>
				<a href="">7月16~22日</a>
				<a href="">7月23~31日</a>
				<a href="">8月1~7日</a>
			</div>
			
			<div class="themes">
				<div class="theme">
					<h4>中国当代艺术</h4>
					<a href="">19885年后出生的青年艺...</a>
					<p>中国当代艺术</p>
					<p>摄影</p>
					<p>新水墨</p>
					<p>写实油画</p>
					<p>雕塑与装置</p>
					<p>版画</p>
					<p>绝版套色木刻</p>
					<p>素描手绘</p>
					<p>设计与艺术衍生</p>
					<p>前卫艺术</p>
					<p>中央美术学院师生作品</p>
				</div>
			</div>
		</div>

	</div>

</body>
</html>