<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="./../base.css">
	<link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<title>Document</title>
</head>
<body>
	<header>
		<span class="left notice">
			<a href="javascript:window.history.go(-1)"><img src="../i/left-gray.png" alt=""></a>
		</span>
		<span class="center">订单信息</span>
		<span class="right contact add-seller">
			<a href="#">送拍</a>
		</span>
	</header>
	
	<div class="add-seller-manage">
		<nav>
			<a href="" class="active">全部</a>
			<a href="">待审核</a>
			<a href="">未通过</a>
			<a href="">待拍卖</a>
			<a href="">拍卖中</a>
		</nav>
		
		<div class="items">
			<div class="item">
				<a class="image-wrapper">
					<img src="./../i/default-img.png" alt="">
					<span>审核中</span>
				</a>
				<div>
					<p class="name">Lot.022  杜鹃花丛中 </p>
					<p class="auth">吕志泽/布面丙烯</p>
					<p class="price">保留价： <span>￥3,879.50</span></p>
					<p class="time">送拍时间：7月8日 12:26</p>
				</div>
			</div>

			<div class="item">
				<a class="image-wrapper">
					<img src="./../i/default-img.png" alt="">
					<span class="processing">拍卖中</span>
				</a>
				<div>
					<p class="name">Lot.022  杜鹃花丛中 </p>
					<p class="auth">吕志泽/布面丙烯</p>
					<p class="price">保留价： <span>￥3,879.50</span></p>
					<p class="time">送拍时间：7月8日 12:26</p>
				</div>
			</div>

		</div>

		<div class="add-btn">
			<a href="./add-seller-order.html" class="btn btn-default btn-block">新建送拍</a>
		</div>

	</div>

</body>
</html>