<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="./../base.css">
	<link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<title>Document</title>
</head>
<body>
	<header>
		个人中心
		<span class="right notice">
			<img src="./../i/icon-notice.png" alt="">
			<span>10</span>
		</span>
	</header>
	
	<div id="buyer-my-center">
		<div class="avatar">
			<div class="avatar-wrapper">
				<img src="./../i/default-img.png" alt="">
				<span class="avatar-auth">da</span>
			</div>
			<p>用户昵称</p>
			<span>设置</span>
			<i class="fa fa-angle-right"></i>
		</div>
		
		<div class="order">
			<nav>
				<a href="">我买</a>
				<a href="" class="active">我卖</a>
			</nav>
			<div>
				<p class="my-order">我的订单 <span>查看全部&nbsp;&nbsp;<i class="fa fa-angle-right"></i></span></p>
				<div class="my-order-num">
					<p>6 <br><span>代付款</span></p>
					<p>6 <br><span>待发货</span></p>
					<p>6 <br><span>待收货</span></p>
					<p>6 <br><span>待评价</span></p>
				</div>
			</div>
		</div>
		
		<div class="links-group">
			<a href="" class="wallet">大咖钱包 <span>余额：￥3,789.00&nbsp;&nbsp;<i class="fa fa-angle-right"></i></span></a>
			
			<div>
				<a href="" class="notice new">消息与通知<span>&nbsp;&nbsp;<i class="fa fa-angle-right"></i></span></a>
				<a href="">拍卖管理<span>竞拍中 2 件&nbsp;&nbsp;<i class="fa fa-angle-right"></i></span></a>
				<a href="">藏品库<span>&nbsp;&nbsp;<i class="fa fa-angle-right"></i></span></a>
				<a href="">艺术家库<span>&nbsp;&nbsp;<i class="fa fa-angle-right"></i></span></a>
			</div>

			<a href="" class="apply">我的拍卖主页<span>&nbsp;&nbsp;<i class="fa fa-angle-right"></i></span></a>
		</div>
	</div>

	<footer>
		<a href="">首页</a>
		<a href="">主题</a>
		<a href="">喜欢</a>
		<a href="" class="active">我的</a>
	</footer>
</body>
</html>