<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="./../base.css">
	<title>Document</title>
</head>
<body>
	<header>
		个人中心
		<span class="right notice">
			<img src="./../i/icon-notice.png" alt="">
			<span>10</span>
		</span>
	</header>
	
	<div id="seller-buy-center-unapply">
		<div class="avatar">
			<div class="avatar-wrapper">
				<img src="./../i/default-img.png" alt="">
				<span class="avatar-auth">da</span>
			</div>
			<p>用户昵称</p>
			<span>设置</span>
			<i class="arrow-right"></i>
		</div>
		
		<div class="order">
			<nav>
				<a href="">我买</a>
				<a href="" class="active">我卖</a>
			</nav>
			<div>
				<a href="./order-manage.html">
					<p class="my-order">我的订单 <span>查看全部&nbsp;&nbsp;<i class="arrow-right"></i></span></p>
				</a>
				<div class="my-order-num">
					<p>0 <br><span>代付款</span></p>
					<p>0 <br><span>待发货</span></p>
					<p>0 <br><span>待收货</span></p>
					<p>0 <br><span>待评价</span></p>
				</div>
			</div>
		</div>
		
		<div class="unapply">
			<p>你还未开通在线拍卖功能！</p>
			<p class="hint">申请成为大咖经纪人，随时随地上拍，享有更多收益！</p>
			<a href="" class="btn btn-default btn-block btn-disablde">您已提交申请，正在审核中</a>
		</div>

	</div>

	<footer>
		<a href="">首页</a>
		<a href="">主题</a>
		<a href="">喜欢</a>
		<a href="" class="active">我的</a>
	</footer>
</body>
</html>