<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="./../base.css">
	<link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<title>Document</title>
</head>
<body>
	<header>
		<span class="left">
			<a href="javascript:window.history.go(-1)"><img src="../i/left-gray.png" alt=""></a>
		</span>
		<span class="center" style="margin-left:30px;">选择类别</span>
		<span class="right contact" style="width:50px">
			<a href="#">保存</a>
		</span>
	</header>
	
	<div class="select-category">
		<a href="">油画</a>
		<a href="">雕塑</a>
		<a href="">中国画</a>
		<a href="">油画</a>
		<a href="">雕塑</a>
		<a href="">中国画</a>
	</div>

</body>
</html>