<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="./../base.css">
	<link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<title>Document</title>
</head>
<body>
	<header>
		<span class="left">
			<a href="javascript:window.history.go(-1)"><img src="../i/left-gray.png" alt=""></a>
		</span>
		<span class="center">选择尺寸</span>
		<span class="right contact" style="width:50px">
			<a href="#">保存</a>
		</span>
	</header>
	
	<div class="select-chicun">
		<div class="input-wrapper">
			<span>高度:</span>
			<input type="text" placeholder="CM">
		</div>
		<div class="input-wrapper" style="border-top: 0;">
			<span>宽度：</span>
			<input type="text" placeholder="CM">
		</div>
		<div class="input-wrapper" style="margin-top: 30px;">
			<span>版号 :</span>
			<input type="text" placeholder="输入本件版号 / 输入总版数" style="text-align: center;">
		</div>
	</div>

</body>
</html>