<html>
<head>
	<meta charset="UTF-8">
	<title>藏品管理</title>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="./base.css">
	<link rel="stylesheet" href="./cpgl.css">
</head>
<body>
	<header>
		<span class="left">
			<a href="javascript:window.history.go(-1)"><img src="../i/left-gray.png" alt=""></a>
		</span>
		<span class="center">订单信息</span>
		<span class="right contact" style="width:50px;">
			<a href="#">选择</a>
		</span>
	</header>
	<div class="content">
		<div class="search">
			<div class="search-input">
				<s></s>
				<input type="text" name="search" placeholder="输入关键字搜索">
			</div>
			
		</div>
		<div class="cp-list">
			<ul >
				<li>
					<img src="./i/default-img.png">
					<div class="desc">
						<p>Lot.022 杜鹃花丛中</p>
						<p>吕志泽</p>
						<p>当前价: <span class="bold-weight">35.5万</span></p>
						<p class="dif-c">距结束</p>
						<p class="dif-c">1天 17:35:17</p>
					</div>
				</li>
				<li>
					<img src="./i/default-img.png">
					<div class="desc">
						<p>Lot.022 杜鹃花丛中</p>
						<p>吕志泽</p>
						<p>当前价: <span class="bold-weight">35.5万</span></p>
						<p class="dif-c">距结束</p>
						<p class="dif-c">1天 17:35:17</p>
					</div>
				</li>
				<li>
					<img src="./i/default-img.png">
					<div class="desc">
						<p>Lot.022 杜鹃花丛中</p>
						<p>吕志泽</p>
						<p>当前价: <span class="bold-weight">35.5万</span></p>
						<p class="dif-c">距结束</p>
						<p class="dif-c">1天 17:35:17</p>
					</div>
				</li>
				<li>
					<img src="./i/default-img.png">
					<div class="desc">
						<p>Lot.022 杜鹃花丛中</p>
						<p>吕志泽</p>
						<p>当前价: <span class="bold-weight">35.5万</span></p>
						<p class="dif-c">距结束</p>
						<p class="dif-c">1天 17:35:17</p>
					</div>
				</li>
			</ul>
		</div>
		<div class="bottom-button">
			<p>添加藏品</p>
		</div>
	</div>
</body>
</html>