<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="./base.css">
	<title>藏品详情</title>
</head>
<body>
	<header>
		<span class="left">
			<a href="javascript:window.history.go(-1)"><img src="../i/left-gray.png" alt=""></a>
		</span>
		<span class="center">藏品详情</span>
	</header>
	<div class="collection-detail">
		<div class="imgs">
			<img src="./i/default-img.png" alt="">
			<img src="./i/default-img.png" alt="">
			<img src="./i/addImage.png" alt="">
		</div>

		<div class="links-group">
			<a href="">类别/尺寸<span>*&nbsp;&nbsp;</span><i class="arrow-right"></i></a>
			<a href="">标题<span>*&nbsp;&nbsp;</span><i class="arrow-right"></i></a>
			<a href="">作者<span>*&nbsp;&nbsp;</span><i class="arrow-right"></i></a>
			<a href="javascript:;">年代:
				<input type="text"></a>
			<a href="javascript:;">自估价
				<input type="text" style="width:100px">:
				<input type="text" style="width:100px">
			</a>
		</div>

		<div class="links-group">
			<a href="javascript:;" class="input">保留价: <input type="text"></a>
			<a href="javascript:;" class="input">运费: <input type="text"></a>
			<a href="javascript:;" class="input">服务: <input type="text"></a>
		</div>

		<textarea name="" id="" cols="30" rows="10" placeholder="藏品详情"></textarea>
		
		<div class="btn-wrapper">
			<a href="" class="btn btn-default btn-block">确认添加</a>
		</div>
	</div>
</body>
</html>