<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="./base.css">
	<title>Document</title>
	<style>
		.tt{
			margin-left:50px;
		}
	</style>
</head>
<body>
	个人中心-买家
	<ul class="tt">
		<li><a href="cpgl.html">藏品管理</a></li>
		<li><a href="./buyer/my-center.html">个人中心</a></li>
		<li><a href="./buyer/order-done.html">已完成订单</a></li>
		<li><a href="./buyer/order-info.html">订单信息</a></li>
		<li><a href="./buyer/order-comment.html">订单评价</a></li>
		<li><a href="./buyer/wait-pay.html">待付款</a></li>
		<li><a href="./buyer/order-input.html">待付款-立即付款</a></li>
		<li><a href="./buyer/order-input-select-address.html">待付款-立即付款-添加新地址</a></li>
		<li><a href="./buyer/order-pay.html">待付款-立即付款-确认付款（选择支付方式）</a></li>
		<li><a href="./buyer/offline-pay-info.html">待付款-立即付款-确认付款-线下支付信息</a></li>
		

	</ul>
	<br>
	个人中心-卖家
	<ul class="tt">
		<li><a href="./seller/my-center.html">个人中心(已认证)</a></li>
		<li><a href="./seller/my-center.html">个人中心(未申请)</a></li>
		<li><a href="./seller/my-center.html">个人中心(未认证)</a></li>

		<li><a href="./buyer/order-manage.html">订单管理</a></li>
	</ul>
		
</body>
</html>