<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="./base.css">
	<title>Document</title>
</head>
<body>
	<ul>
		<li><a href="cpgl.html">藏品管理</a></li>
		<li><a href="./buyer/my-center.html">个人中心</a></li>
		<li><a href="./buyer/order-done.html">已完成订单</a></li>
		<li><a href="./buyer/order-info.html">订单信息</a></li>
		<li><a href="./buyer/order-comment.html">订单评价</a></li>
	</ul>
		
</body>
</html>