<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="./base.css">
	<title>Document</title>
	<style>
		.tt{
			margin-left:50px;
		}
	</style>
</head>
<body>
个人中心-买家
	<ul class="tt">
		<li><a href="cpgl.html">藏品管理</a></li>
		<li><a href="./buyer/my-center.html">个人中心</a></li>
		<li><a href="./buyer/order-done.html">已完成订单</a></li>
		<li><a href="./buyer/order-info.html">订单信息</a></li>
		<li><a href="./buyer/order-comment.html">订单评价</a></li>
		<li><a href="./buyer/wait-pay.html">待付款</a></li>
		<li><a href="./buyer/order-input.html">待付款-订单填写</a></li>
		

	</ul>
	<br>
	个人中心-卖家
	<ul class="tt">
		<li><a href="./buyer/order-manage.html">订单管理</a></li>
	</ul>
		
</body>
</html>