.select-chicun
	margin-top 20px
	width 100%
	.input-wrapper
		display flex
		background: white
		border 1px solid $borderColor
		span
			padding 10px 20px
		input
			flex 1
			text-align right
			padding-right 20px