@import './_varaibles'

.btn
	font-size $defaultFz
	text-align center
		
	&.btn-default
		font-size: $defaultFz
		padding 10px
		color: $blackColor
		background-color: white
		border 1px solid $borderColor
		border-radius: 3px
	&.btn-disabled
		background-color: $disabledColor
		color white

	&.btn-lg
		font-size $mdFz
	&.btn-sm
		font-size $smFz
		padding 5px 8px
	&.btn-block
		display: block;
	
		