@import './_varaibles.styl'

html
	font-family: 'ArialMT', 'Arial'
html,body,ul,li,p,textarea
	margin 0
	padding 0
	border 0
	
body
	background-color: $backgroundColor;
	font-size $defaultFz
a
	text-decoration: none
	color $textColor

header
	height 50px
	line-height: 50px
	text-align: center
	font-size: $lgFz
	border-bottom: 1px solid $borderColor
	background-color white
	>span
		width 20px
		height 20px
		&.right
			float: right
			margin-right 10px
			margin-top 5px
			position: relative
			&.contact
				width 87px
				height 30px
				display block
				font-size 13px
				border 1px solid $borderColor
				margin-top 10px
				text-align center
				border-radius 3px
				margin-left -87px
			&.add-seller
				width 50px
				a
					display block
					line-height 30px
					
			&.notice
				img
					width 100%
				span
					position: absolute
					top 5px
					font-size 8px
					background red
					height 12px
					width: 12px
					line-height: 12px
					font-size: 8px
					border-radius: 6px
					color white
					font-weight: bold
		&.left
			float: left
			img
				width 15px
				height 100%
				display block
				margin-top 11px
				margin-left 10px
				padding 5px
		&.center
			margin-left -30px
		
				
footer
	display flex
	position: fixed;
	bottom: 0;
	width: 100%;
	border-top: 1px solid $borderColor;
	background-color white
	a
		flex 1
		text-align: center;
		line-height: 50px;
		color $hintTextColor
		&.active
			color $blackColor

.clearfix::before,
.clearfix::after
{
    content:'';
    height:0;
    line-height:0;
    display: block;
    visibility: hidden;
    clear: both;
}
.text-color
	color $textColor!important
.red
	color red!important

.mt15
	margin-top 15px!important
	
i.arrow-right
	display inline-block
	width 32px
	height 32px
	background-image: url('./../i/right-gray.png')
	background-size: cover
	
