/** Color */
// $blackColor = #000
$deppBlueColor = #17566d
$blueColor = #3ba3e9
$redColor = #fa3e2a
$blackColor = #121212
$textColor = #5e5e5e
$lightTextColor = #898989
$hintTextColor = #a7a7a7
$borderColor = #e4e4e4
$backgroundColor = #f3f3f3

/** Font-size */
$lgsFz = 30px
$lgFz = 19px
$mdFz = 16px
$defaultFz = 14px
$smFz = 12px

