
@import './_varaibles.styl'

body{
box-sizing: border-box;
background: $backgroundColor;
}


.content{
	width:100%;
	max-width:640px;
    min-width:300px;
}


/***---搜索--*/
.content .search {
	width: 100%;
	height: 45px;
	max-width:640px;
    min-width:300px;
	background: $boxColor;
}
.content .search .search-input{
	height: 45px;
	width: 100%;
	margin: 0 auto;
	line-height: 45px;
	position: relative;
	
}
.content .search .search-input input{
	height:32px;
	width: 100%;
	margin-top: 7px;
	border:2px solid #d4d4d4;
	background-color: #ffffff;
	font-size: $defaultFz;
}

s{
	width: 18px;
	height: 18px;
	display: block;
	background: url(./i/search.png);
	background-size: 18px 18px;
	vertical-align: middle;
	position: absolute;
	right: 10px;
	top: 13.5px;
}
/***---搜索结束--*/

/**==藏品列表=**/
ul{
	margin: 0;
	padding: 0;
}
.cp-list{
	margin-top: 12px;
	max-width:640px;
    min-width:300px;
    padding: 0 10px;
}

.cp-list ul{
	width: 100%;
	list-style: none;
	margin: 0 auto;
}

.cp-list li{
	display: block;
	height: 93px;
	width: 100%;
	background: #ffffff;
	box-shadow: 1px 1px 1px #bebebe;
	margin-top: 10px;
}

.cp-list img{
	width: 93px;
	height: 93px;
	display: block;
	float: left;
}

.cp-list .desc {
	font-size: 10px;
	float: left;
	padding-left: 10px;
}
.cp-list .desc p{
	font-size: 10px;
	color: #484848;
}
.bold-weight{
	color: #242424;
	font-weight: bold;
	font-size: 12px;
}

.cp-list .desc p:nth-child(1){
	margin-top: 5px;
}
.cp-list .desc p:nth-child(4){
	margin-top: 5px;
	color: #008eff;
}
.cp-list .desc p:nth-child(5){
	margin-top: 3px;
	color: #008eff;
}
.bottom-button{
	margin-top: 12px;
	max-width:640px;
    min-width:300px;
    padding: 0 10px;

}
.bottom-button p{
	height: 40px;
	border: 1px solid #d3d3d3;
	background: #ffffff;
	margin: 0 auto;
	margin-bottom: 20px;
	text-align: center;
	color: #292929;
	line-height: 40px;
	width:100%;
}

/**整体*/


