body
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	background: $backgroundColor;
.default-text-color
	color $textColor!important
	font-weight normal!important
.order-done-content
	font-size 8px
	
	.order-no
		width 300px
		height 23px
		border 1px solid $borderColor
		margin 0 auto
		background white
		color $textColor
		margin-top 10px
		p:nth-child(1)
			line-height 23px
			float left
			margin-left 5px
		p:nth-child(2)
			line-height 23px
			float right	
			margin-right 10px
	.order-process
		background white
		margin-top 10px
		width 300px
		height 500px
		margin 10px auto
		border 1px solid $borderColor
		border-radius 3px
		.item
			border-bottom 1px solid $borderColor
			height 50px
			.item-pic
				margin-left 5px
				margin-top 16px
				width 16px
				height 16px
				background red
				float left
			.item-content
				float left
				margin-left 10px
				p
					margin-top 6px
					color $textColor
				p:nth-child(1)
					color $blackColor
					font-weight bold
					margin-top 12px
				
		